@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #137fec;
  --color-primary-hover: #106cc9;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --font-family-display: 'Inter', sans-serif;
}

@keyframes slideIn {
  from { transform: translateX(100%); opacity: 0 }
  to { transform: translateX(0); opacity: 1 }
}
